<a href="https://colab.research.google.com/github/YigitBCesur/Finance-and-Trading/blob/main/Get_Live_and_Historical_Data_of_Stock(s).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HOW TO GET LIVE STOCK DATA IN PYTHON

--- Get Stock Information in Python ---

In [ ]:
! pip install yfinance

In [ ]:
! pip install yahoo-fin

In [ ]:
from yahoo_fin.stock_info import *
import pandas as pd

### **Get Live Stock Price**

In [ ]:
print(get_live_price('PLTR'))

8.40999984741211

### **Quote Table in Stock**

In [ ]:
quote= get_quote_table('PLTR')
print(quote)

{'1y Target Est': 9.44, '52 Week Range': '6.44 - 23.52', 'Ask': '8.37 x 45100', 'Avg. Volume': 35707775.0, 'Beta (5Y Monthly)': 3.09, 'Bid': '8.36 x 1000', "Day's Range": '7.38 - 8.42', 'EPS (TTM)': -0.25, 'Earnings Date': 'Nov 07, 2022', 'Ex-Dividend Date': nan, 'Forward Dividend & Yield': 'N/A (N/A)', 'Market Cap': '17.494B', 'Open': 7.48, 'PE Ratio (TTM)': nan, 'Previous Close': 7.64, 'Quote Price': 8.40999984741211, 'Volume': 54136760.0}

### **Companies' Tickers SP 500**

In [ ]:
print(tickers_sp500())

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACGL', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA', 'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF-B', 'BIIB', 'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK-B', 'BRO', 'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'ELV', 'EMN', 'EMR', 'ENPH', 'EOG', 'EPAM', 'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FBHS', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV', 'GD', 'GE', 'GEN', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'INVH', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KDP', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'L', 'LDOS', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'META', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ', 'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NOC', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ON', 'ORCL', 'ORLY', 'OTIS', 'OXY', 'PARA', 'PAYC', 'PAYX', 'PCAR', 'PCG', 'PEAK', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL', 'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PWR', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC', 'SBNY', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG', 'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO', 'TMUS', 'TPR', 'TRGP', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT', 'TTWO', 'TXN', 'TXT', 'TYL', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VICI', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']

In [ ]:
stock = input ("Please enter a ticker symbol  : ")

if stock in tickers_sp500():
  print ('The Stock is in the SP500 ')
else:
  print(' not in the SP500 ')

Please enter a ticker symbol  : AAPL
The Stock is in the SP500

### **Importing Stock Prices from Yahoo Finance**

In [ ]:
import yfinance as yf

**Just One Stock**

In [ ]:
ticker= 'PLTR'
#PLTR = yf.download(ticker)
#PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)    # Adding dates
#PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"]    # Select the column
PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)[["Adj Close", 'Volume']]    # Select the columns

[*********************100%***********************]  1 of 1 completed

In [ ]:
PLTR

            Adj Close    Volume
Date
2021-01-04      23.37  44970400
2021-01-05      24.60  29050400
2021-01-06      23.54  32732900
2021-01-07      25.00  32240000
2021-01-08      25.20  41313800
...               ...       ...
2022-11-04       7.93  64257800
2022-11-07       7.02  99332800
2022-11-08       7.21  56353900
2022-11-09       6.98  42517300
2022-11-10       7.64  58579800

[469 rows x 2 columns]

**Several Stocks**

In [ ]:
tickers= ['PLTR', 'QS', 'NU', 'NIO']
#Stocks = yf.download(tickers)
Stocks = yf.download(tickers, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"]
#Stocks = yf.download(tickers, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"].T      # Transpose
Stocks

[*********************100%***********************]  4 of 4 completed

              NIO    NU   PLTR     QS
Date
2021-01-04  53.49   NaN  23.37  49.96
2021-01-05  53.20   NaN  24.60  59.50
2021-01-06  50.50   NaN  23.54  63.03
2021-01-07  54.28   NaN  25.00  62.00
2021-01-08  58.92   NaN  25.20  56.79
...           ...   ...    ...    ...
2022-11-04  11.68  4.87   7.93   8.09
2022-11-07  10.98  4.81   7.02   7.81
2022-11-08  10.56  5.11   7.21   7.93
2022-11-09   9.25  4.69   6.98   6.74
2022-11-10  10.34  4.55   7.64   7.23

[469 rows x 4 columns]