<a href="https://colab.research.google.com/github/YigitBCesur/Finance-and-Trading/blob/main/The_ways_to_get_the_STOCK_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install yfinance
! pip install --upgrade pandas_datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.85-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.7 MB/s
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.85
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 7.7 MB/s
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2022.9.24)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [ ]:
#import yfinance as yf
from pandas_datareader.data import DataReader

**# by YAHOO FINANCE **

In [ ]:
data= yf.download('AAPL', '2019-01-01', '2109-01-31')
data

[*********************100%***********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
2019-01-02   38.722500   39.712502  ...   38.105137  148158800
2019-01-03   35.994999   36.430000  ...   34.309582  365248800
2019-01-04   36.132500   37.137501  ...   35.774246  234428400
2019-01-07   37.174999   37.207500  ...   35.694614  219111200
2019-01-08   37.389999   37.955002  ...   36.375053  164101200
...                ...         ...  ...         ...        ...
2022-11-07  137.110001  139.149994  ...  138.919998   83374600
2022-11-08  140.410004  141.429993  ...  139.500000   89908500
2022-11-09  138.500000  138.550003  ...  134.869995   74917800
2022-11-10  141.240005  146.869995  ...  146.869995  118854000
2022-11-11  145.820007  150.009995  ...  149.699997   93903800

[975 rows x 6 columns]

**# by PANDAS**

In [ ]:
data= DataReader (name='AAPL', data_source='yahoo', start='2019-01-01', end='2109-01-31')
data

                  High         Low  ...       Volume   Adj Close
Date                                ...
2019-01-02   39.712502   38.557499  ...  148158800.0   38.105137
2019-01-03   36.430000   35.500000  ...  365248800.0   34.309586
2019-01-04   37.137501   35.950001  ...  234428400.0   35.774239
2019-01-07   37.207500   36.474998  ...  219111200.0   35.694607
2019-01-08   37.955002   37.130001  ...  164101200.0   36.375057
...                ...         ...  ...          ...         ...
2022-11-07  139.149994  135.669998  ...   83374600.0  138.919998
2022-11-08  141.429993  137.490005  ...   89908500.0  139.500000
2022-11-09  138.550003  134.589996  ...   74917800.0  134.869995
2022-11-10  146.869995  139.500000  ...  118854000.0  146.869995
2022-11-11  150.009995  144.369995  ...   93903800.0  149.699997

[975 rows x 6 columns]

**# POLONIEX Api**
[link text](https://docs.poloniex.com/#introduction)

https://docs.poloniex.com/#public-endpoints-market-data


API Methods:
returnChartData

In [ ]:
import requests
import json
import pandas as pd



# BITCOIN
req= requests.get('https://poloniex.com/public?command=returnChartData&currencyPair=BTC_XMR&start=1405699200&end=9999999999&period=14400')
data= json.loads(req.text)

df=pd.DataFrame(data)
df

              date      high  ...           quoteVolume       weightedAverage
0    1661040000000  0.007117  ...  0.521088270000000000  0.007095445114644319
1    1661054400000  0.007212  ...  0.942499960000000000  0.007171758468170018
2    1661068800000  0.007182  ...  0.644868500000000000  0.007101328941605818
3    1661083200000  0.007186  ...  0.470057670000000000  0.007126473210255090
4    1661097600000  0.007299  ...  0.587891790000000000  0.007249019817354349
..             ...       ...  ...                   ...                   ...
495  1668168000000  0.007531  ...  0.886397500000000000  0.007470804811385287
496  1668182400000  0.007532  ...  0.572828820000000000  0.007482345099151851
497  1668196800000  0.007601  ...  0.712247290000000000  0.007539470754139177
498  1668211200000  0.007650  ...  0.773768860000000000  0.007615349279886903
499  1668225600000  0.007650  ...  0.058592900000000000  0.007599849112776423

[500 rows x 8 columns]

**# QUANDL Api**


https://rapidapi.com/zakutynsky/api/Quandl/details

#### FINANCIAL MODELLING PREP

https://site.financialmodelingprep.com/developer/docs/